'<div class="row" style="width: 420px;  margin-left:7px; margin-top:10px;">'
    +'<div class="layui-form-item">'
    +'<div class="layui-inline iphone">'
    +'<div class="layui-input-inline">'
    +'<input type="email" name="email" id="email" lay-verify="required|email" placeholder="请输入邮箱" autocomplete="off" class="layui-input">'
    +'</div>'
    +'</div>'
    +'<div class="layui-inline veri-code">'
    +'<div class="layui-input-inline">'
        +'<input id="pnum" type="text" name="pnum" lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">'
        +'</div>'
    +'</div>'
    +'<div class="layui-inline">'
    +'<div class="layui-input-block">'
        +'<input type="text" name="name" lay-verify="name" autocomplete="off" placeholder="请输入商品标题" class="layui-input">'
        +'</div>'
    +'</div>'
    +'<div class="layui-inline">'
    +'<div class="layui-input-block">'
        +'<input type="text" name="sellPrice" lay-verify="sellPrice" autocomplete="off" placeholder="请输入商品价格" class="layui-input">'
        +'</div>'
    +'</div>'
    +'<div class="layui-inline">'
    +'<label class="layui-form-label">是否允许退货+'</label>'
    +'<div class="layui-input-block">'
        +'<input type="radio" name="returnItem" value="是" title="是" checked placeholder="是">'
        +'<input type="radio" name="returnItem" value="否" title="否" placeholder="否">'
        +'</div>'
    +'</div>'
    +'<div class="layui-inline">'
    +'<label class="layui-form-label">单选框+'</label>'
    +'<div class="layui-input-block">'
        +'<input type="radio" name="sex" value="nan" title="男">'
        +'<input type="radio" name="sex" value="nv" title="女" checked>'
        +'<input type="radio" name="sex" value="" title="中性" disabled>'
        +'</div>'
    +'</div>'
    +'<div class="layui-inline">'
    +'<div class="layui-input-block">'
        +'<input type="text" name="allowReturnDay" lay-verify="allowReturnDay" autocomplete="off" placeholder="允许退货时间" class="layui-input">'
        +'</div>'
    +'</div>'

    +'<div class="layui-inline">'
    +'<label class="layui-form-label">选择类目</label>'
    +'<div class="layui-input-inline">'
        +'<select name="modules" lay-verify="required" lay-search="" lay-filter="aihao">'
            +'<option value="">""</option>'
            +'<option value="1">layer</option>'
            +'<option value="2">form</option>'
            +'<option value="3">layim</option>'
            +'<option value="4">element</option>'
            +'<option value="5">laytpl</option>'
            +'<option value="6">upload</option>'
            +'<option value="7">laydate</option>'
            +'<option value="8">laypage</option>'
            +'<option value="9">flow</option>'
            +'<option value="10">util</option>'
            +'<option value="11">code</option>'
            +'<option value="12">tree</option>'
            +'<option value="13">layedit</option>'
            +'<option value="14">nav</option>'
            +'<option value="15">tab</option>'
            +'<option value="16">table</option>'
            +'<option value="17">select</option>'
            +'<option value="18">checkbox</option>'
            +'<option value="19">switch</option>'
            +'<option value="20">radio</option>'
            +'</select>'
        +'</div>'
    +'</div>'
    +'</div>'
    +'</div>'